#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #8f8f8f;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo::after {
    content: 'Title';
    display: block;
    position: absolute;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 4px;
}

.logo:hover .logo__img-wrapper,
.logo::after {
    animation: .4s ease-out 0s 1 normal forwards to-upBack;
}

.logo:hover::after,
.logo .logo__img-wrapper {
    animation: .4s ease-in 0s 1 normal forwards to-downFront;
}

@keyframes to-upBack {
    0% {
        transform: translateY(0rem) scale(1);
    }

    33% {
        opacity: 1;
        transform: translateY(-1rem) scale(0.6);
    }

    66% {
        opacity: 0.5;
        transform: translateY(-0.5rem) scale(0.3);
    }

    100% {
        opacity: 0;
        transform: translateY(0rem) scale(0);
    }
}

@keyframes to-downFront {
    0% {
        opacity: 0;
        transform: translateY(0rem) scale(0);
    }

    33% {
        opacity: 0.5;
        transform: translateY(0.5rem) scale(0.3);
    }

    66% {
        opacity: 1;
        transform: translateY(1rem) scale(0.6);
    }

    100% {
        transform: translateY(0rem) scale(1);
    }
}

.logo__img-wrapper {
    width: 4rem;
    height: 4rem;
}

.logo__img {
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
}

.nav__item {
    position: relative;
    font-weight: 500;
}

.nav__item::before,
.nav__item::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    top: 120%;
    transform: scale(0);
    transition: all 400ms;
}

.nav__item::before {
    right: 5px;
    transform-origin: left;
}

.nav__item::after {
    left: 5px;
    transform-origin: right;
}

.nav__item:hover::before {
    right: 0px;
    transform: scale(1);
}

.nav__item:hover::after {
    left: 0px;
    transform: scale(1);
}

.nav__link {
    font-size: 1.1rem;
}


.nav__actions {
    display: flex;
}

.nav__form {}

.search {
    position: relative;
    padding: .3rem .7rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1.1rem;
    transition: all 400ms;
}

.search:focus {
    outline: none;
    border-radius: 0.5rem;
    background-color: rgba(193, 193, 193, 0.5);
}

.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: absolute;
    right: .5rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(../img/Web-14-512.webp);
    background-size: contain;
    transform: scale(0);
    transition: all 300ms;
}

.search:focus::-webkit-search-cancel-button, .search:hover::-webkit-search-cancel-button {
    transform: scale(1);
}



.nav__social {}

.nav__social-item {}